        <footer class="footer">
            <div class="container footer_container">
                <div class="footer-body">
                    <!--<div class="footer-text"></div>-->
                    <div class="footer-navigation">
                        <div class="footer-navigation__element">
                            <h2 class="title footer_title">Legal information</h2>
                            <ul class = "footer-ul">
                                <li class = "footer-ul__item"><a class = "link" href="license_agrement.html">License Agreement</a></li>
                                <li class = "footer-ul__item"><a class = "link" href="privacy_policy.html">Privacy Policy</a></li>
                                <li class = "footer-ul__item"><a class = "link" href="terms.html">Terms</a></li>
                                <li class = "footer-ul__item"><a class = "link" href="api.html">API</a></li>
                            </ul>
                        </div>
                        <div class="footer-navigation__element">
                            <h2 class="title footer_title">Legal information</h2>
                            <ul class = "footer-ul">
                                <li class = "footer-ul__item"><a class = "link" href="license_agrement.html">License Agreement</a></li>
                                <li class = "footer-ul__item"><a class = "link" href="privacy_policy.html">Privacy Policy</a></li>
                                <li class = "footer-ul__item"><a class = "link" href="terms.html">Terms</a></li>
                                <li class = "footer-ul__item"><a class = "link" href="api.html">API</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-developers">
                        <div class="mini-developers">
                            <div class="mini-developer">
                                <a href="https://vk.com/clyoucker" class="avatar avatar-mini">
                                    <img src="../../assets/img/developers/clyoucker.jpg" alt="">
                                </a>
                                <div class="mini-developer__out-content">
                                    <p class = "avatar_name">Clyoucker</p>
                                    <p class = "avatar_type">[FrontEnd]</p>
                                </div>
                            </div>
                            <div class="mini-developer">
                                <a href="https://vk.com/love_my_little_kitten" class="avatar avatar-mini">
                                    <img src="../../assets/img/developers/artyom.jpg" alt="">
                                </a>
                                <div class="mini-developer__out-content">
                                    <p class = "avatar_name">Artyom</p>
                                    <p class = "avatar_type">[Designer]</p>
                                </div>
                            </div>
                            <div class="mini-developer">
                                <a href="https://vk.com/zlvsxd" class="avatar avatar-mini">
                                    <img src="../../assets/img/developers/seryozha.jpg" alt="">
                                </a>
                                <div class="mini-developer__out-content">
                                    <p class = "avatar_name">Seryozha</p>
                                    <p class = "avatar_type">[Designer]</p>
                                </div>
                            </div>
                        </div>
                        <div class="icons">
                            <a href="https://vk.com/litesolidcore" target="_blank" class="icon icon-vk"></a>
                            <a href="#" target="_blank" class="icon icon-youtube"></a>
                            <a href="#" target="_blank" class="icon icon-twitter"></a>
                            <a href="#" target="_blank" class="icon icon-twitch"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>