        <section class="section section-game">
            <h2 class="title">Collect Key Fragment</h2>
            <div class="game">
                <div id="GameWindow" class="game__content">

                </div>
                <img class = "game_bg" src="" alt="img">
            </div>
        </section>
        <section class="section section-game-info">
            <div class="section-content">
                <div class="section-block">
                    <div class="section-block__texts">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores voluptatibus, fugit distinctio animi enim consequuntur explicabo beatae at odio in doloribus ut iusto sunt, ipsum commodi labore? Nesciunt, eos aspernatur?
                        </p>
                    </div>
                    <div class="section-block__image">
                        <img src="../../assets/img/games/BG/itemOne.jpg" alt="">
                    </div>
                </div>
                <div class="section-block">
                    <div class="section-block__texts">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores voluptatibus, fugit distinctio animi enim consequuntur explicabo beatae at odio in doloribus ut iusto sunt, ipsum commodi labore? Nesciunt, eos aspernatur?
                        </p>
                    </div>
                    <div class="section-block__image">
                        <img src="../../assets/img/games/BG/itemTwo.jpg" alt="">
                    </div>
                </div>
                <div class="section-block">
                    <div class="section-block__texts">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores voluptatibus, fugit distinctio animi enim consequuntur explicabo beatae at odio in doloribus ut iusto sunt, ipsum commodi labore? Nesciunt, eos aspernatur?
                        </p>
                    </div>
                    <div class="section-block__image">
                        <img src="../../assets/img/games/BG/itemThree.jpg" alt="">
                        
                    </div>
                </div>
            </div>
        </section>