        <header class = "header">
            <div class="container header_container">
                <div class="header-body">
                    <nav class = "navigation navigation_row">
                        <button class = "button button_navigation">Rules</button>
                        <button class = "button button_navigation">Games</button>
                    </nav>
                    <div data-theam="swith-theam" class = "icon icon-theme icon-theam-dark"></div>
                </div>
            </div>
        </header>