<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/icons/style.css">
    <title></title>
</head><body class = "page">
    <div class = "wrapper">
        <header class = "header">
            <div class="container header_container">
                <div class="header-body">
                    <nav class = "navigation navigation_row">
                        <button class = "button button_navigation">Rules</button>
                        <button class = "button button_navigation">Games</button>
                    </nav>
                    <div data-theam="swith-theam" class = "icon icon-theme icon-theam-dark"></div>
                </div>
            </div>
        </header>        <main id="main" class="main">
            <div class="container main_container">
        <section class="section section-game">
            <h2 class="title">Collect Key Fragment</h2>
            <div class="game">
                <div id="GameWindow" class="game__content">

                </div>
                <img class = "game_bg" src="" alt="img">
            </div>
        </section>
        <section class="section section-game-info">
            <div class="section-content">
                <div class="section-block">
                    <div class="section-block__texts">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores voluptatibus, fugit distinctio animi enim consequuntur explicabo beatae at odio in doloribus ut iusto sunt, ipsum commodi labore? Nesciunt, eos aspernatur?
                        </p>
                    </div>
                    <div class="section-block__image">
                        <img src="../../assets/img/games/BG/itemOne.jpg" alt="">
                    </div>
                </div>
                <div class="section-block">
                    <div class="section-block__texts">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores voluptatibus, fugit distinctio animi enim consequuntur explicabo beatae at odio in doloribus ut iusto sunt, ipsum commodi labore? Nesciunt, eos aspernatur?
                        </p>
                    </div>
                    <div class="section-block__image">
                        <img src="../../assets/img/games/BG/itemTwo.jpg" alt="">
                    </div>
                </div>
                <div class="section-block">
                    <div class="section-block__texts">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores voluptatibus, fugit distinctio animi enim consequuntur explicabo beatae at odio in doloribus ut iusto sunt, ipsum commodi labore? Nesciunt, eos aspernatur?
                        </p>
                    </div>
                    <div class="section-block__image">
                        <img src="../../assets/img/games/BG/itemThree.jpg" alt="">
                        
                    </div>
                </div>
            </div>
        </section>            </div>
        </main>
        <footer class="footer">
            <div class="container footer_container">
                <div class="footer-body">
                    <!--<div class="footer-text"></div>-->
                    <div class="footer-navigation">
                        <div class="footer-navigation__element">
                            <h2 class="title footer_title">Legal information</h2>
                            <ul class = "footer-ul">
                                <li class = "footer-ul__item"><a class = "link" href="license_agrement.html">License Agreement</a></li>
                                <li class = "footer-ul__item"><a class = "link" href="privacy_policy.html">Privacy Policy</a></li>
                                <li class = "footer-ul__item"><a class = "link" href="terms.html">Terms</a></li>
                                <li class = "footer-ul__item"><a class = "link" href="api.html">API</a></li>
                            </ul>
                        </div>
                        <div class="footer-navigation__element">
                            <h2 class="title footer_title">Legal information</h2>
                            <ul class = "footer-ul">
                                <li class = "footer-ul__item"><a class = "link" href="license_agrement.html">License Agreement</a></li>
                                <li class = "footer-ul__item"><a class = "link" href="privacy_policy.html">Privacy Policy</a></li>
                                <li class = "footer-ul__item"><a class = "link" href="terms.html">Terms</a></li>
                                <li class = "footer-ul__item"><a class = "link" href="api.html">API</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-developers">
                        <div class="mini-developers">
                            <div class="mini-developer">
                                <a href="https://vk.com/clyoucker" class="avatar avatar-mini">
                                    <img src="../../assets/img/developers/clyoucker.jpg" alt="">
                                </a>
                                <div class="mini-developer__out-content">
                                    <p class = "avatar_name">Clyoucker</p>
                                    <p class = "avatar_type">[FrontEnd]</p>
                                </div>
                            </div>
                            <div class="mini-developer">
                                <a href="https://vk.com/love_my_little_kitten" class="avatar avatar-mini">
                                    <img src="../../assets/img/developers/artyom.jpg" alt="">
                                </a>
                                <div class="mini-developer__out-content">
                                    <p class = "avatar_name">Artyom</p>
                                    <p class = "avatar_type">[Designer]</p>
                                </div>
                            </div>
                            <div class="mini-developer">
                                <a href="https://vk.com/zlvsxd" class="avatar avatar-mini">
                                    <img src="../../assets/img/developers/seryozha.jpg" alt="">
                                </a>
                                <div class="mini-developer__out-content">
                                    <p class = "avatar_name">Seryozha</p>
                                    <p class = "avatar_type">[Designer]</p>
                                </div>
                            </div>
                        </div>
                        <div class="icons">
                            <a href="https://vk.com/litesolidcore" target="_blank" class="icon icon-vk"></a>
                            <a href="#" target="_blank" class="icon icon-youtube"></a>
                            <a href="#" target="_blank" class="icon icon-twitter"></a>
                            <a href="#" target="_blank" class="icon icon-twitch"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>    </div>
    <script src="../../assets/js/game.js"></script>
    <script src="../../assets/js/effects.js"></script>
    <script src="../../assets/js/switch-Theam.js"></script>
</body>
</html>