@font-face {
    font-family: "EB-Garamond-Regular";
    src: url("../../fonts/EBGaramond-Regular.ttf");
}

@font-face {
    font-family: "Eczar-Regular";
    src: url("../../fonts/Eczar-Regular.ttf");
}
