.page_theme_dark{
    .header{background-color: #080808; box-shadow: 0 2px 3px $dark;}
    p{color: $clear-color;}
    .title{color: $orange-color;}
    button{color: $clear-color;}
    .icon-theme{color: $clear-color;}
    .main{background-color: #111111;}
}